<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Alamat</ion-label>
      <ion-input formControlName="address" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" (click)="onRegister()"
      >Signup</ion-button
    >
  </form>

  <ion-item lines="none">
    <ion-label class="ion-text-center">
      Sudah punya akun? <a routerLink="/login">Login</a>
    </ion-label>
  </ion-item>
</ion-content>
